
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>管理员的添加页面</title>
    <link rel="stylesheet" href="/vendor/layuiadmin/layui/css/layui.css">
    <script src="/vendor/layuiadmin/layui/layui.js"></script>
</head>
<body style="padding-top: 50px">
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" id="name"  required lay-verify="required"  autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" id="username" required lay-verify="required"  autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" id="password"lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <input type="hidden" name="photo">
        </div>
        <div  class="layui-input-block" id="img" style="display: none;">
            ds
            <img  alt="" style="width: 300px;height: 200px">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" lay-submit lay-filter="formDemo" id="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    layui.use(['form','upload','laydate'], function(){
        var  form = layui.form
            ,upload = layui.upload
            ,$ = layui.jquery
            ,laydate =layui.laydate
        ;

        //点击上传照片
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/back/upload' //上传接口
            ,done: function(res){
                //上传完毕回调
                $("input[name='photo']").val(res.name);
                console.log(res);
                $("#img").css("display","ture");
                $("#img>img").attr("src","/image/"+res.name);

            }
            ,error: function(){
                //请求异常回调
            }
        });

        //监听提交 点击提交 执行
        form.on('submit(formDemo)', function(data){
            console.log(data.field);
            $.ajax({
                'method' : "post",
                'data'   : data.field,
                //    传递json信息 到服务器端
                'url'    : '/admin/add', //请求地址
                'dataType' : 'json' ,//服务器端返回信息必须为json 格式
                'success' : function (n) {
                    //如果返回成功 就执行success 的东西
                    console.log(n);
                    if (n.data=="ok"){
                        layer.open({
                            'title': '提示框',
                            'content': "修改成功",
                            closeBtn: 0,
                            // closeBtn 是将右上角的×去掉
                            // icon 是图标
                            // yes是点确定执行的函数
                            yes: function(){
                                location.href = '/admin/add'; //后台主页
                            }
                        });
                    }
                    else {
                        layer.open({
                            'title': '提示框',
                            'content': "修改失败,用户名已存在",
                            closeBtn: 0,
                            // closeBtn 是将右上角的×去掉
                            // icon 是图标
                            // yes是点确定执行的函数
                            yes: function(){
                                location.href = '/admin/add'; //后台主页
                            }
                        });
                    }
                }
            })
        });

    });
</script>
