<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncyteng.zhineng.dao.AboutusMapper">
  <resultMap id="BaseResultMap" type="com.ncyteng.zhineng.pojo.Aboutus">
    <!--@mbg.generated-->
    <!--@Table aboutus-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, typename, photo, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from aboutus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from aboutus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.Aboutus" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into aboutus (typename, photo, content
      )
    values (#{typename,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.Aboutus" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into aboutus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typename != null">
        typename,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncyteng.zhineng.pojo.Aboutus">
    <!--@mbg.generated-->
    update aboutus
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncyteng.zhineng.pojo.Aboutus">
    <!--@mbg.generated-->
    update aboutus
    set typename = #{typename,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--auto generated by MybatisCodeHelper on 2022-08-04-->
  <select id="selectByAll" resultMap="BaseResultMap">
    <if test="typename != null and typename != '' ">
               <bind name="typenames" value="'%' + typename + '%'" />
<!--               创建模糊查询 如果name不为空 创建一个新的变量 值为 name的值加上模糊查询需要的%-->
    </if>
    select <include refid="Base_Column_List"/>
    from aboutus
    <where>
<if test="id != null">
 and id=#{id,jdbcType=INTEGER}</if>
<if test="typename != null  and typename != ''">
 and typename like #{typenames}
 </if>
<if test="photo != null">
 and photo=#{photo,jdbcType=VARCHAR}</if>
<if test="content != null">
 and content=#{content,jdbcType=LONGVARCHAR}</if>
    </where>
  </select>
</mapper>