<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncyteng.zhineng.dao.ElementMapper">
  <resultMap id="BaseResultMap" type="com.ncyteng.zhineng.pojo.Element">
    <!--@mbg.generated-->
    <!--@Table `element`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `element`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `element`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.Element" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `element` (`type`, title)
    values (#{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.Element" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `element`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        `type`,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncyteng.zhineng.pojo.Element">
    <!--@mbg.generated-->
    update `element`
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncyteng.zhineng.pojo.Element">
    <!--@mbg.generated-->
    update `element`
    set `type` = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--auto generated by MybatisCodeHelper on 2022-08-05-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from `element`
    <where>
<if test="id != null">
 and id=#{id,jdbcType=INTEGER}</if>
<if test="type != null">
 and `type`=#{type,jdbcType=VARCHAR}</if>
<if test="title != null">
 and title=#{title,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>