<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncyteng.zhineng.dao.InformationMapper">
  <resultMap id="BaseResultMap" type="com.ncyteng.zhineng.pojo.Information">
    <!--@mbg.generated-->
    <!--@Table information-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="landline" jdbcType="VARCHAR" property="landline" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `location`, photo, email, landline
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.Information" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into information (`location`, photo, email, 
      landline)
    values (#{location,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{landline,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.Information" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="location != null">
        `location`,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="landline != null">
        landline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="landline != null">
        #{landline,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncyteng.zhineng.pojo.Information">
    <!--@mbg.generated-->
    update information
    <set>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="landline != null">
        landline = #{landline,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncyteng.zhineng.pojo.Information">
    <!--@mbg.generated-->
    update information
    set `location` = #{location,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      landline = #{landline,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--auto generated by MybatisCodeHelper on 2022-08-05-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from information
    <where>
<if test="id != null">
 and id=#{id,jdbcType=INTEGER}</if>
<if test="location != null">
 and `location`=#{location,jdbcType=VARCHAR}</if>
<if test="photo != null">
 and photo=#{photo,jdbcType=VARCHAR}</if>
<if test="email != null">
 and email=#{email,jdbcType=VARCHAR}</if>
<if test="landline != null">
 and landline=#{landline,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>