<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncyteng.zhineng.dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.ncyteng.zhineng.pojo.News">
    <!--@mbg.generated-->
    <!--@Table news-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="view" jdbcType="VARCHAR" property="view" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, `time`, `view`, title, content, photo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.News" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into news (`type`, `time`, `view`, 
      title, content, photo
      )
    values (#{type,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{view,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{photo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ncyteng.zhineng.pojo.News" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        `type`,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="view != null">
        `view`,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="photo != null">
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        #{view,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncyteng.zhineng.pojo.News">
    <!--@mbg.generated-->
    update news
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        `view` = #{view,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncyteng.zhineng.pojo.News">
    <!--@mbg.generated-->
    update news
    set `type` = #{type,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=VARCHAR},
      `view` = #{view,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      photo = #{photo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--auto generated by MybatisCodeHelper on 2022-08-05-->
  <select id="selectByAll" resultMap="BaseResultMap">
   <if test="type != null and type != '' ">
               <bind name="types" value="'%' + type + '%'" />
<!--               创建模糊查询 如果name不为空 创建一个新的变量 值为 name的值加上模糊查询需要的%-->
    </if>
    <if test="title != null and title != '' ">
               <bind name="titles" value="'%' + title + '%'" />
<!--               创建模糊查询 如果name不为空 创建一个新的变量 值为 name的值加上模糊查询需要的%-->
    </if>
    select <include refid="Base_Column_List"/>
    from news
    <where>
<if test="id != null">
 and id=#{id,jdbcType=INTEGER}</if>
<if test="type != null and type != ''">
  and type like #{types}
 </if>
<if test="time != null">
 and `time`=#{time,jdbcType=VARCHAR}</if>
<if test="view != null">
 and `view`=#{view,jdbcType=VARCHAR}</if>
<if test="title != null and title != ''">
and title like #{titles}
 </if>
<if test="content != null">
 and content=#{content,jdbcType=LONGVARCHAR}</if>
<if test="photo != null">
 and photo=#{photo,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>